* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    background-color: #fff;
}

nav {
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-bottom-line {
    display: none;
}

nav * {
    color: #fff;
    text-decoration: none;
}

.logo {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
    max-width: 10rem;

    font-size: 1.5rem;

    height: 4.7rem;

    margin-left: 1rem;
}

.pc-logo {
    display: none;
}

.mb-logo {
    display: block;
}

.burger {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
    max-width: 3.4375rem;
    height: 3.4375rem;

    margin: auto 0;
    margin-right: 1rem;

    cursor: pointer;

    background-color: #dc8100;
    border-radius: 4px;

    transition: background-color .5s;
}

.hide {
    display: none;
}

.burger > svg {
    fill: #fff;
}

.burger:hover {
    background-color: #000;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: -18.75rem;
    width: 18.75rem;
    height: 100%;
    background-color: #000;
    transition: transform .5s;
}

.nav-menu.active {
    transform: translateX(18.75rem); 
}

.nav-menu-heading {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    
    height: 5.7425rem;

    color: #fff;
    margin-left: 1rem;
}

.nav-menu-item {
    font-size: 0.9375rem;
    line-height: 2.5rem;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 5%;
}

.iconed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.iconed .start {
    align-items: flex-start;
}

.iconed.drop > svg {
    margin-top: .2rem;
}

.nav-menu-item:nth-child(2) {
    background-color: #dc8100;
}

.drop.about {
    position: relative;
}

.drop-menu {
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.drop-menu.show {
    display: none;
}

.drop-menu.tech.show {
    left: auto;
    right: 0;
    display: flex;
}

.sub-menu-item {
    padding: 0.625rem 1.25rem;
    display: block;
    color: #000;
    min-width: 11.25rem;
}

.sub-menu-item:hover {
    color: #aaa;
}

.sub-menu-item-con {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 1.3125rem 0 2.625rem 0;
}

.drop-menu-img-con {
    width: 263px;
    height: 303px;
}

.drop-menu-img-con > img {
    width: 0;
    height: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.drop-menu-img-con::after {
    box-shadow: inset 16px 0 16px #fff;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 263px;
    height: 303px;
}

.drop-menu-img {
    display: block;
}

.contacts {
    padding: 1.1rem 1.3rem;
    position: absolute;
    bottom: 100%;
    right: 0;
    gap: .3rem;
    font-size: .9rem;
}

.contacts > svg:last-child {
    margin-left: .7rem;
}

.hero {
    background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 100%), url("../assets/hero.webp") no-repeat center center scroll;
    background-size: cover;
    height: 100vw;
    max-height: 26.5rem;

    display: flex;
    align-items: center;
}

.hero-con {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 8vw;
}

.hero-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 7vw;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 2vw;
}

.hero-button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    /* text-align: center; */
    background-color: #DE890ACC;
    border: 1px solid #ffffff40;
    border-radius: .25rem;
    padding: 2vw 6vw;

    color: #fff;
    text-decoration: none;
    font-size: 2.3vw;
    font-weight: bold;

    letter-spacing: 0.125em;
    line-height: 1.0625;

    transition: color .3s, border-color .3s, background-color .3s;
}

.hero-button:hover {
    background-color: #FFFFFFCC;
    color: #333333;
    border-color: #333333;
}

/* share */
.container {
    padding: 0 1.9rem;
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
}

.main-content {
    padding-top: 4.69rem;
}

/* index.html */
.main-content-heading {
    font-style: normal;
    font-size: 2.19rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 0;
    letter-spacing: -.05em;
    display: inline-block;
    border-bottom: 2px solid #de890a;
    padding-bottom: .25rem;
}

/* .main-content-heading::after {
    content: " ";
    display: inline-block;
    height: 2px;
    margin: 0 0 0 10px;
    width: 48px;
    background-color: #de890a;
} */

.main-content p {
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6875rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.text-img-con {
    display: block;
    gap: 1.9375rem;
}

.img-con {
    width: 100%;
    max-width: 34rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vw 50vw;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

.img-con img {
    width: 0;
    height: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.fading-img-anchor {
    position: relative;
}

.img-con > .fading-img-anchor > img.fading-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fading-img {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

/* single */
.text-img-con > img {
    width: 100%;
    height: auto;
    max-width: 34rem;
}

.card-grid {
    width: 100%;
    display: grid;
    gap: .71429rem;
    grid-template-columns: 1fr;
}

.card {
    /* border: 1px solid #F3F1F1; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.card::after {
    display:block;
    content: '';
    border-bottom: solid 4px rgba(222,137,10,1);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.card:hover:after {
    transform: scaleX(1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-image-con {
    height: 16.0225rem;
    background-color: #eee;
}

.card-image {
    height: 0;
    width: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: contain;
    /* object-fit: cover; */
}

.card-body {
    padding: 1.9375rem 1.25rem 1.5625rem 1.25rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-heading {
    font-family: 'Montserrat';
    font-size: 1.24rem;
    font-weight: 700;
    line-height: 1.2;
    color: #222;
    margin: 0;
    margin-bottom: 0.3125rem;
}

.card .card-paragraph {
    font-family: 'Montserrat';
    font-size: 1.11rem;
    font-weight: 300;
    line-height: 1.4;
    color: rgba(39,39,39,0.7);
    margin-bottom: 1.25rem;
}

.card .card-prompt {
    font-size: 0.75rem;
    line-height: 1.0625;
    color: #2A2A2A;
    font-weight: 700;
    margin: 0;
    margin-top: auto;
}

.card .card-prompt > svg {
    vertical-align: -.125em;
}